body {
	font-family: arial;
}

h2 { 
    text-align: center;
}

img{
    max-height: 100%;
    max-width: 48vw;
  }

.row {
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap:wrap;
  }
  
  .column {
    display:flex;
    flex-direction:column;
    flex:50%;
  }
